[user]
	name = Evan Arlian
	email = evanarlian2000@gmail.com
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig_work
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[credential]
	helper = store
