fish/*

!fish/config.fish

!fish/completions/
fish/completions/*
!fish/completions/ca.fish

!fish/conf.d/
fish/conf.d/*
!fish/conf.d/abbr.fish
!fish/conf.d/keybind.fish
!fish/conf.d/rustup.fish

!fish/functions/
fish/functions/*
!fish/functions/ca.fish
!fish/functions/fish_prompt.fish
!fish/functions/fish_right_prompt.fish
!fish/functions/reload.fish


vscode/*
!vscode/Code
vscode/Code/*
!vscode/Code/User
vscode/Code/User/*
!vscode/Code/User/settings.json
!vscode/Code/User/keybindings.json
!vscode/Code/User/snippets/
